$font-color--light: #f5efed;
$font-color--dark: #12263a;
$font-color--blue: #3f84e5;
$font-color--light-theme: #e6621f;
$font-color--dark-theme: #898989;
$font-color--dark-green: #397367;
$font-color--light-green: #5da399;
$font-color--banner-light-1: #66a28c;
$font-color--banner-light-2: #d0f7e9;
$font-color--yellow: #ffde59;
$font-color--pink: #CB6CE6;

$font-main: "Alice";

$font-size--large: rem(67px);
$font-size--big: rem(38px);
$font-size--medium-big: rem(28px);
$font-size--medium: rem(21px);
$font-size--small: rem(17px);
$font-size--tiny: rem(13px);

$font-weight--bold: 700;
$font-weight--medium: 400;
