$font-color--light: #F5EFED;
$font-color--dark: #12263A;
$font-color--blue: #3F84E5;
$font-color--light-theme: #E6621F;
$font-color--dark-green: #397367;
$font-color--light-green: #5DA399;


$font-main: 'Alice';

$font-size--large: rem(67px);
$font-size--big: rem(38px);
$font-size--medium-big: rem(28px);
$font-size--medium: rem(21px);
$font-size--small: rem(17px);
$font-size--tiny: rem(13px);

$font-weight--bold: 700;
$font-weight--medium: 400;