$breakpoint__large-desktop--min: 1920px;
$breakpoint__desktop--max: $breakpoint__large-desktop--min - 1px;
$breakpoint__desktop--min: 1440px;
$breakpoint__small-desktop--max: $breakpoint__desktop--min - 1px;
$breakpoint__small-desktop--min: 1024px;
$breakpoint__tablet--max: $breakpoint__small-desktop--min - 1px;
$breakpoint__tablet--min: 768px;
$breakpoint__small-tablet--max: $breakpoint__tablet--min - 1px;
$breakpoint__small-tablet--min: 426px;
$breakpoint__mobile--max: $breakpoint__small-tablet--min - 1px;