$font-size--tiny: rem(10px) !default;
$font-size--caption: rem(14px) !default;
$font-size--extra-small: rem(16px) !default;
$font-size--small: rem(18px) !default;
$font-size--regular: rem(22px) !default;
$font-size--regular-big: rem(24px) !default;
$font-size--big: rem(32px) !default;
$font-size--large: rem(48px) !default;
$font-size--extra-large: rem(60px) !default;
$font-size--huge: rem(73px) !default;

$font-family: "Alice" !default;

$font-weight--light: 300 !default;
$font-weight--semibold: 600 !default;
$font-weight--bold: 700 !default;
